/* fonts */
@font-face {
  font-family: "Tiro Devanagari Marathi";
  src: url("../fonts/TiroDevanagariMarathi-Regular.woff");
  font-weight: normal;
}

:root {
  --font-family: "Tiro Devanagari Marathi", sans-serif;
  --primary-color: #292929; /* Added color variable */
  --nav-bg-color: #ffffff; /* Added background color variable */
  --nav-link-color: #333333; /* Added link color variable */
  --nav-link-hover: #000000; /* Added hover color variable */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-container {
  background-color: var(--nav-bg-color);
  padding: 1rem 2rem;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  gap: 4rem; /* Even spacing between links */
  list-style: none;
  margin: 0;
  padding-top: 14px;
  justify-content: center;
}

.nav-link {
  font-family: var(--font-family);
  font-size: 14px; /* 16px equivalent */
  color: var(--nav-link-color);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: normal;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--nav-link-hover);
}

/* logo */
.logo {
  padding: 18px;
  font-family: var(--font-family);
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #292929;
}

.logo a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
}

/* Hero Section */
.hero-section {
  width: 100%;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margins */
}

.hero-container {
  width: 100%;
  height: 100%;
  /* background-color: var(--primary-color); */
  position: relative;
  overflow: hidden;
  padding: 48px;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block; /* Removes default image spacing */
}

.about-section {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* background-color: gray; */
  width: 93%;
  margin: 0 auto 50px;
  /* border: 3px solid #73ad21; */
}

.about {
  font-family: var(--font-family);
  padding: 48px;
  width: 50%;
  line-height: 1.6;
}

.about p {
  font-size: 18px;
  color: var(--primary-color);
  padding-bottom: 24px;
}

.emotion-text {
  font-size: 32px;
  color: #bfbc5d;
}

.beautiful-text {
  font-size: 20px;
  color: #6d6d6d;
}

.artistry-text {
  font-size: 20px;
  color: #6d6d6d;
}

.book-btn {
  display: inline-block;
  padding: 12px 18px;
  background-color: #3b3b3b;
  color: #f3f3f3;
  font-family: var(--font-family);
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
